/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-size:15px;
  font-family: 'Lexend Deca', sans-serif;
  background-color:hsl(0, 0%, 95%);
  padding:5.5rem 1.5rem;
}

div:first-of-type{
  border-radius: .5rem .5rem 0 0;
}

div:last-of-type{
  border-radius: 0 0 .5rem .5rem;
}

.sedan-container,
.suv-container,
.luxury-container{
  padding:3rem 3rem;

}

.sedan-container{
  background-color: hsl(31, 77%, 52%);
}

.suv-container{
  background-color:hsl(184, 100%, 22%);
}

.luxury-container{
  background-color:hsl(179, 100%, 13%);
}

.car-icon{
  margin-bottom:2rem;
}

.car-title{
  font-size:2.5rem;
  color:hsl(0, 0%, 95%);
  text-transform:uppercase;
  font-family: 'Big Shoulders Display', cursive;
  margin-bottom:2rem;
}

.car-paragraph{
  color:hsla(0, 0%, 100%, 0.75);
  margin-bottom:2.2rem;
  line-height:1.6rem;
}

.btn{
  padding:.9rem 2rem;
  text-decoration: none;
  background-color:hsl(0, 0%, 95%);
  border-radius:6rem / 6rem;
}


.btn-sedan{
  color:hsl(31, 77%, 52%);
}

.btn-suv{
  color:hsl(184, 100%, 22%);
}

.btn-luxury{
  color:hsl(179, 100%, 13%);
}




.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}